<a href="https://colab.research.google.com/github/haritha544/DA_Rcodefiles/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/ds_salaries.csv")

In [ ]:
df.head

<bound method NDFrame.head of      Unnamed: 0  work_year experience_level employment_type  \
0             0       2020               MI              FT
1             1       2020               SE              FT
2             2       2020               SE              FT
3             3       2020               MI              FT
4             4       2020               SE              FT
..          ...        ...              ...             ...
602         602       2022               SE              FT
603         603       2022               SE              FT
604         604       2022               SE              FT
605         605       2022               SE              FT
606         606       2022               MI              FT

                      job_title  salary salary_currency  salary_in_usd  \
0                Data Scientist   70000             EUR          79833
1    Machine Learning Scientist  260000             USD         260000
2             Big Data Engineer   85000             GBP         109024
3          Product Data Analyst   20000             USD          20000
4     Machine Learning Engineer  150000             USD         150000
..                          ...     ...             ...            ...
602               Data Engineer  154000             USD         154000
603               Data Engineer  126000             USD         126000
604                Data Analyst  129000             USD         129000
605                Data Analyst  150000             USD         150000
606                AI Scientist  200000             USD         200000

    employee_residence  remote_ratio company_location company_size
0                   DE             0               DE            L
1                   JP             0               JP            S
2                   GB            50               GB            M
3                   HN             0               HN            S
4                   US            50               US            L
..                 ...           ...              ...          ...
602                 US           100               US            M
603                 US           100               US            M
604                 US             0               US            M
605                 US           100               US            M
606                 IN           100               US            L

[607 rows x 12 columns]>

In [ ]:
df.head(5)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
df.size

7284

In [ ]:
df.shape

(607, 12)

In [ ]:
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [ ]:
df.axes

[RangeIndex(start=0, stop=607, step=1),
 Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
        'job_title', 'salary', 'salary_currency', 'salary_in_usd',
        'employee_residence', 'remote_ratio', 'company_location',
        'company_size'],
       dtype='object')]

In [ ]:
df.values

array([[0, 2020, 'MI', ..., 0, 'DE', 'L'],
       [1, 2020, 'SE', ..., 0, 'JP', 'S'],
       [2, 2020, 'SE', ..., 50, 'GB', 'M'],
       ...,
       [604, 2022, 'SE', ..., 0, 'US', 'M'],
       [605, 2022, 'SE', ..., 100, 'US', 'M'],
       [606, 2022, 'MI', ..., 100, 'US', 'L']], dtype=object)

In [ ]:
df.ndim

2

In [ ]:
df.shape[0]

607

In [ ]:
df.shape[1]

12

In [4]:
df.describe()

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [5]:
df.max()

Unnamed: 0                             606
work_year                             2022
experience_level                        SE
employment_type                         PT
job_title             Staff Data Scientist
salary                            30400000
salary_currency                        USD
salary_in_usd                       600000
employee_residence                      VN
remote_ratio                           100
company_location                        VN
company_size                             S
dtype: object

In [6]:
df.min()

Unnamed: 0                                        0
work_year                                      2020
experience_level                                 EN
employment_type                                  CT
job_title             3D Computer Vision Researcher
salary                                         4000
salary_currency                                 AUD
salary_in_usd                                  2859
employee_residence                               AE
remote_ratio                                      0
company_location                                 AE
company_size                                      L
dtype: object

In [7]:
df.mean()

<ipython-input-7-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Unnamed: 0          303.000000
work_year          2021.405272
salary           324000.062603
salary_in_usd    112297.869852
remote_ratio         70.922570
dtype: float64

In [8]:
df.std()

<ipython-input-8-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

Unnamed: 0       1.753701e+02
work_year        6.921330e-01
salary           1.544357e+06
salary_in_usd    7.095726e+04
remote_ratio     4.070913e+01
dtype: float64

In [10]:
df.mean()

<ipython-input-10-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Unnamed: 0          303.000000
work_year          2021.405272
salary           324000.062603
salary_in_usd    112297.869852
remote_ratio         70.922570
dtype: float64

In [11]:
df.head(50)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
30,30,2020,MI,FT,Data Engineering Manager,51999,EUR,59303,DE,100,DE,S
31,31,2020,EN,FT,Big Data Engineer,70000,USD,70000,US,100,US,L
32,32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
33,33,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
34,34,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
35,35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
36,36,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
37,37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
38,38,2020,EN,FT,Data Analyst,10000,USD,10000,NG,100,NG,S
39,39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S
40,40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
41,41,2020,EX,FT,Data Engineering Manager,70000,EUR,79833,ES,50,ES,L
42,42,2020,MI,FT,Machine Learning Infrastructure Engineer,44000,EUR,50180,PT,0,PT,M
43,43,2020,MI,FT,Data Engineer,106000,USD,106000,US,100,US,L
44,44,2020,MI,FT,Data Engineer,88000,GBP,112872,GB,50,GB,L
45,45,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S
46,46,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
47,47,2020,SE,FT,Data Engineer,188000,USD,188000,US,100,US,L
48,48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
49,49,2020,MI,FT,Data Engineer,61500,EUR,70139,FR,50,FR,L

In [13]:
df_mean = df.head(50).mean()

<ipython-input-13-66e1e2029efb>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mean = df.head(50).mean()

In [14]:
df.work_year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
602    2022
603    2022
604    2022
605    2022
606    2022
Name: work_year, Length: 607, dtype: int64

In [15]:
df['work_year']

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
602    2022
603    2022
604    2022
605    2022
606    2022
Name: work_year, Length: 607, dtype: int64

In [18]:
df[['work_year']]

     work_year
0         2020
1         2020
2         2020
3         2020
4         2020
..         ...
602       2022
603       2022
604       2022
605       2022
606       2022

[607 rows x 1 columns]

In [19]:
df.iloc[1:4,2:7]

,experience_level,employment_type,job_title,salary,salary_currency
1,SE,FT,Machine Learning Scientist,260000,USD
2,SE,FT,Big Data Engineer,85000,GBP
3,MI,FT,Product Data Analyst,20000,USD

In [20]:
df[['job_title','salary']].agg(['min','max','median'])

<ipython-input-20-4d10e1b94148>:1: FutureWarning: ['job_title'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df[['job_title','salary']].agg(['min','max','median'])

                            job_title      salary
min     3D Computer Vision Researcher      4000.0
max              Staff Data Scientist  30400000.0
median                            NaN    115000.0